main {
    /* margin-left: 25%;
    margin-right: 25%; */
    padding-left: 25%;
    padding-right: 25%;
    max-width: 2560px;
    width: 100%;
}

#MainTovarCard {
    padding-bottom: 20px;
}

#CartCard {
    border-radius: 5px;

}

#offcanvasScrolling {
    max-width: 24%;
}

#cardImage {
    padding-left: 10px;
    /* border-radius: 13px; */
}

body {
    background-color: rgb(243, 0, 0);
}

#MiniCart::-webkit-scrollbar {
    display: none;
}
header {
    max-width: 2560px;
    padding-top: 10px;
    padding-bottom: 10px;
    /* margin-left: 15%;
    margin-right: 15%; */
    /* width: 100%; */
    padding-left: 25%;
    padding-right: 25%;
    /* justify-content: space-between; */
}

footer {
    background: rgb(19, 0, 102);
    color: rgb(211, 211, 211);
    padding-top: 50px;
    bottom: 0px;
    padding-bottom: 5%;
    width: 100%;
}

li {
    list-style-type: none;
}

#btnText {
    padding-bottom: 10px;
    padding-right: 10px;
}

/* .accordion {
    padding-top: 10px;
    /* padding-bottom: 10px; 
    width: 100%;
    min-height: 70%;
    height: 50%;
    max-height: 1400px;
    position: relative;
     height: 1650px; 
     max-height: 1400px; 
} */

#CarouselToTovar {
    border-radius: 7px;
}

.row {
    padding-top: 10px;
    padding-bottom: 10px;
}

/* .row>.filter {
    z-index: 1;
    width: 16%;
    max-width: 19rem;
    background-color: rgb(89, 145, 248);
    display: flex;
    min-height: 130%;
    max-height: 260%;
    height: auto;
    border-radius: 7px;
    position: absolute;
    top: 5.5rem;
    display: block;
    overflow: auto;
} */
/*
#applybtn {
    z-index: 99; 
    position: relative;
    padding-top: 15px;
    bottom: 10px;
    right: 25px;
    left: 15px;
    overflow: hidden;
}*/