<!DOCTYPE html>
<html lang="en">
    <head>
        {% include "templates/head.html"%}
    </head>
    <body>
        {% include "templates/header.njk" %}
        <main>
            <h1>Корзина</h1>
            <div class="row">
                <div class="col-8">
                    {% for CartItem, item in CartItems %}
                        {% include "templates/CartCard.html"%}
                    {% endfor %}
                </div>
                <div class="col-4">
                    <div class="card">
                        <div class="card-body">
                            <form name="CartOrder">
                                <div class="mb-3">
                                    <label class="form-label">Promo-code</label>
                                    <input id="CartPromo" type="text" class="form-control" placeholder="Не пытайтесь искать не найдете"
                                    name="promo">
                                </div>
                                <button id="CartPromoBTN" type="submit" class="btn btn-primary">Клик!</button>
                            <hr>

                            <div class="mb-3">
                                <label class="form-label">Email address</label>
                                <input id="EmailCart" type="email" class="form-control" aria-describedby="emailHelp" name="email"
                                    required value="aaa@mail.com">
                                <div class="form-text"></div>
                            </div>
                            {# <div class="mb-3 form-check">
                                    <input type="checkbox" class="form-check-input" name="NotBot" required>
                                    <label class="form-check-label">Я не робот</label>
                                </div> #}
                            <button id="CartFormSub" type="submit" class="btn btn-primary">Оформить заказ</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
    {% include "templates/footer.html"%}
</body>
</html>