<!DOCTYPE html>
<html lang="en">
    <head>{% include "templates/head.html"%}
        <script type="text/javascript" href="static/js/index.js" defer></script>
    </head>
    <body>
        {% include "templates/header.njk" %}
        <main>
            <div class="container"></div>
        {% include "templates/body.html" %}
        </main>
        {% include "templates/footer.html"%}
    </body>
</html>