<!DOCTYPE html>
<html lang="en">
    <head>{% include "templates/head.html"%}
    
    </head>
<body>
    {% include "templates/header.njk" %}
    <h1>Профиль</h1>
    <a href="/">back</a></a>
{% include "templates/footer.html"%}
</body>
</html>