<div class="container">
    <div class="row cols-12">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 col-xxl-4">
            <div  style="height:100%;"class="card">
                <div class="card-body">
                    <h5>Акции</h5>
                    <hr>
                    <ol class="list-group list-group-numbered">
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                                <div class="fw-bold"><a href="#sales/{{item.salename}}">Скидки на процессоры</a></div>
                                Content for list item
                            </div>
                            <span class="badge bg-danger rounded-pill">5</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                                <div class="fw-bold"><a href="#sales/{{item.salename}}">Бесплатная доставка</a></div>
                                Content for list item
                            </div>
                            <span class="badge bg-danger rounded-pill">NEW</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                                <div class="fw-bold"><a href="#sales/{{item.salename}}">Выгодные комплекты</a></div>
                                Content for list item
                            </div>
                            <span class="badge bg-danger rounded-pill">14</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                                <div class="fw-bold"><a href="#sales/{{item.salename}}">Доставка за 2 часа</a></div>
                                Content for list item
                            </div>
                            <span class="badge bg-danger rounded-pill">NEW</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                                <div class="fw-bold"><a href="#sales/{{item.salename}}">Some content</a></div>
                                Content for list item
                            </div>
                            <span class="badge bg-danger rounded-pill">Limited</span>
                        </li>
                    </ol>
                    <hr>
                    <h5><a href="#/sales/">Больше...</a></h5>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 col-xl-8 col-xxl-8">
            <div class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <a href="/catalog/?Category"><img src="{{cardImage}}" class="d-block w-100" alt="..."></a>
                    </div>
                    <div class="carousel-item">
                        <a href="/catalog/?Category"><img src="{{cardImage}}" class="d-block w-100" alt="..."></a>
                    </div>
                    <div class="carousel-item">
                        <a href="/catalog/?Category"><img src="{{cardImage}}" class="d-block w-100" alt="..."></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="col-xs-3 col-sm-12 col-md-12 col-lg-12 col-xl-3 col-xxl-3">
            <div class="card">
                <div class="card-body">
                    <form action="/" method="get">
                        <div class="mb-3">
                            <label class="form-label">Promo-code</label>
                            <input type="text" class="form-control" placeholder="Не пытайтесь искать не найдете"
                                name="promo">
                        </div>
                        <button type="submit" class="btn btn-primary">Клик!</button>
                    </form>
                    <hr>
                    <form method="get" action="/">
                        <div class="mb-3">
                            <label class="form-label">Email address</label>
                            <input type="email" class="form-control" aria-describedby="emailHelp" name="email" required>
                            <div class="form-text">
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Password</label>
                            <input type="password" class="form-control" name="password" required>
                        </div>
                        <div class="mb-3 form-check">
                            <input type="checkbox" class="form-check-input" name="NotBot" required>
                            <label class="form-check-label">Я не робот</label>
                        </div>
                        <button onclick="testFunction()" type="submit" class="btn btn-primary">Войти</button>
                    </form>
                </div>
            </div>
        </div> -->
    </div>
    <div class="row cols-12">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
            <div class="card">
                <a href="/catalog/?Category"><img src="{{cardImage}}" class="card-img" alt="..."></a>
            </div>
        </div>
        <dive class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
            <div class="card">
                <a href="/catalog/?Category"><img src="{{cardImage}}" class="card-img" alt="..."></a>
            </div>
        </dive>
        <dive class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
            <div class="card">
                <a href="/catalog/?Category"><img src="{{cardImage}}" class="card-img" alt="..."></a>
            </div>
        </dive>
    </div>
    <div class="row cols-12">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <a href="/catalog/?Category"><img src="{{cardImage}}" class="card-img" alt="image got lost =("></a>
        </div>
    </div>
    <div class="row cols-12">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
            <div class="card">
                <a href="/catalog/?Category"><img src="{{cardImage}}" class="card-img" alt="..."></a>
            </div>
        </div>
        <dive class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
            <div class="card">
                <a href="/catalog/?Category"><img src="{{cardImage}}" class="card-img" alt="..."></a>
            </div>
        </dive>
        <dive class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
            <div class="card">
                <a href="/catalog/?Category"><img src="{{cardImage}}" class="card-img" alt="..."></a>
            </div>
        </dive>
    </div>
    <div class="row cols-12">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <a href="/catalog/?Category"><img src="{{cardImage}}" class="card-img" alt="image got lost =("></a>
        </div>
    </div>
</div>