<body>
    <main>
        <div class="container">
            <div class="row cols-md-12 cols-xs-6">
                <div class="col-9 col-sm-6 col-md-9 col-lg-9 col-xs-3">
                    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                                class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                                aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                                aria-label="Slide 3"></button>
                        </div>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <a href="/catalog/?Category"><img src="https://via.placeholder.com/750x350/a"
                                        class="d-block w-100" alt="..."></a>
                            </div>
                            <div class="carousel-item">
                                <a href="/catalog/?Category"><img src="https://via.placeholder.com/750x350/a"
                                        class="d-block w-100" alt="..."></a>
                            </div>
                            <div class="carousel-item">
                                <a href="/catalog/?Category"><img src="https://via.placeholder.com/750x350/a"
                                        class="d-block w-100" alt="..."></a>
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
                <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xs-3">
                    <div class="card">
                        <div class="card-body">
                            <form>
                                <div class="mb-3">
                                    <label class="form-label">Promo-code</label>
                                    <input type="text" class="form-control" placeholder="Не пытайтесь искать не найдете"
                                        name="promo">
                                </div>
                                <button type="submit" class="btn btn-primary">Клик!</button>
                            </form>
                            <hr>
                            <form>
                                <div class="mb-3">
                                    <label class="form-label">Email address</label>
                                    <input type="email" class="form-control" aria-describedby="emailHelp" name="email"
                                        required>
                                    <div class="form-text">
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Password</label>
                                    <input type="password" class="form-control" name="password" required>
                                </div>
                                <div class="mb-3 form-check">
                                    <input type="checkbox" class="form-check-input" name="NotBot" required>
                                    <label class="form-check-label">Я не робот</label>
                                </div>
                                <button onclick="testFunction()" type="submit" class="btn btn-primary">Войти</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row cols-md-12 cols-xs-6">
                <div class="col-4 col-sm-4 col-lg-4 col-xs-2">
                    <div class="card bg-dark text-white">
                        <a href="/catalog/?Category"><img src="https://via.placeholder.com/780x350/0000FF"
                                class="card-img" alt="..."></a>
                    </div>
                </div>
                <dive class="col-4 col-sm-4 col-lg-4 col-xs-2">
                    <div class="card bg-dark text-white">
                        <a href="/catalog/?Category"><img src="https://via.placeholder.com/780x350/asd" class="card-img"
                                alt="..."></a>
                    </div>
                </dive>
                <dive class="col-4 col-sm-4 col-lg-4 col-xs-2">
                    <div class="card bg-dark text-white">
                        <a href="/catalog/?Category"><img src="https://via.placeholder.com/780x350/0000FF"
                                class="card-img" alt="..."></a>
                    </div>
                </dive>
            </div>
            <div class="row cols-xs-6">
                <div class="card bg-dark text-white">
                    <a href="/catalog/?Category"><img src="https://via.placeholder.com/750x150/0000FF" class="card-img"
                            alt="..."></a>
                </div>
            </div>
            <div class="row">
                <div class="col-4 col-sm-4 col-lg-4 col-xs-2">
                    <div class="card bg-dark text-white">
                        <a href="/catalog/?Category"><img src="https://via.placeholder.com/780x350/0000FF"
                                class="card-img" alt="..."></a>
                    </div>
                </div>
                <dive class="col-4 col-sm-4 col-lg-4 col-xs-2">
                    <div class="card bg-dark text-white">
                        <a href="/catalog/?Category"><img src="https://via.placeholder.com/780x350/asd" class="card-img"
                                alt="..."></a>
                    </div>
                </dive>
                <dive class="col-4 col-sm-4 col-lg-4 col-xs-2">
                    <div class="card bg-dark text-white">
                        <a href="/catalog/?Category"><img src="https://via.placeholder.com/780x350/0000FF"
                                class="card-img" alt="..."></a>
                    </div>
                </dive>
            </div>
            <div class="row">
                <div class="card bg-dark text-white">
                    <a href="/catalog/?Category"><img src="https://via.placeholder.com/750x150/0000FF" class="card-img"
                            alt="..."></a>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <div class="card bg-dark text-white">
                        <a href="/catalog/?Category"><img src="https://via.placeholder.com/780x350/0000FF"
                                class="card-img" alt="..."></a>
                    </div>
                </div>
                <dive class="col-4">
                    <div class="card bg-dark text-white">
                        <a href="/catalog/?Category"><img src="https://via.placeholder.com/780x350/asd" class="card-img"
                                alt="..."></a>
                    </div>
                </dive>
                <dive class="col-4">
                    <div class="card bg-dark text-white">
                        <a href="/catalog/?Category"><img src="https://via.placeholder.com/780x350/0000FF"
                                class="card-img" alt="..."></a>
                    </div>
                </dive>
            </div>
            <div class="row">
                <div class="card bg-dark text-white">
                    <a href="/catalog/?Category"><img src="https://via.placeholder.com/750x150/0000FF" class="card-img"
                            alt="..."></a>
                </div>
            </div>

        </div>
        </div>
        </div>
    </main>
</body>