<div class="card mb-3" style="max-width: 1200px;">
    <div  id="CartCard" class="row g-0" style="background-color: rgb(202, 202, 202);">
        <div class="col-md-4">
            <img id="cardImage" src="https://via.placeholder.com/750x350/a" class="img-fluid rounded-start" alt="=)">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">{{item.TovarName}}</h5>
                <h6 class="card-title">{{item.TovarPrice}} {{item.currency}}</h6>
                <a role="button" onclick="TestFunction()">Удалить</a>
                <a role="button" onclick="TestFunction()">В избранное</a>
                <!-- <p class="card-text">{{item.CardText}}</p> -->
                <!-- <a class="btn btn-primary" href="/product/{{item.productId}}/{{item.TovarName}}"
                    role="button">{{item.btnText}}</a> -->
            </div>
        </div>
    </div>
</div>
