<!DOCTYPE html>
<html lang="en">

<head>{% include "templates/head.html"%}

</head>

<body>
    {% include "templates/header.html"%}
    <main>
        <div class="container">
            <div id="CardsRow" class="container">
                <div class="row cols-xs-12 cols-sm-12 cols-md-12 cols-lg-12 cols-xl-12 cols-xxl-12 card-group">
                    {% for item in TovarTypeList %}
                    <div onmouseover="this.style.border = '2px solid rgb(204, 204, 204)'"
                        onmouseout=" this.style.border= ' 2px solid transparent'" id="MainTovarCard"
                        class="col-xs-6 col-sm-6 col-md-6 col-lg-4 col-xl-4 col-xxl-4" class="card">
                        <img src="{{item.cardImage}}" class="card-img-top" alt="image">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="/catalog/{{item.catalogId}}/{{item.MainPage}}">{{item.property}}</a>
                            </h5>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {# {% include "templates/PagMenu.njk"%} Потом сделаю =) #}
            </div>
    </main>
    {% include "templates/footer.html"%}

</body>

</html>