<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <li class="page-item">
            <a class="page-link" href="/{{page}}/?PgN={{PgN[0]}}" tabindex="-1">Previous</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="/{{page}}/?PgN={{PgN[1]}}">{{PgN[1]}}</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="/{{page}}/?PgN={{PgN[2]}}">{{PgN[2]}}</a>
        </li>

        <li class="page-item">
            <a class="page-link" href="/{{page}}/?PgN={{PgN[3]}}">{{PgN[3]}}</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="/{{page}}/?PgN={{PgN[4]}}">{{PgN[4]}}</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="/{{page}}/?PgN={{PgN[5]}}">Next</a>
        </li>
    </ul>
</nav>