<div class="container filter">
    <div class="col flitrColumn">
        <form action="/{{page}}/{{PgN}}" method="get">
            <div class="accordion" id="accordionPanelsStayOpen">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="panelsStayOpen-heading">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                            aria-controls="panelsStayOpen-collapseOne">
                            {{filterTitle}}
                        </button>
                    </h2>
                    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
                        aria-labelledby="panelsStayOpen-headingOne">
                        <div class="accordion-body">
                            <div class="input-group mb-3">
                                <div class="input-group-text">
                                    <input class="form-check-input mt-0" type="checkbox" value="{{filterVar}}"
                                        name="{{filterTitle}}" aria-label="Checkbox for following text input">
                                </div>
                                <li class="form-control" aria-label="Text input with checkbox">{{filterVar}}</li>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary" value="применить">применить</button>
                <!-- <button type="button" class="btn btn-primary" value="сбросить">сбросить</button> -->
                <a href="/{{page}}/"><input type="button" class="btn btn-primary" name="reset" id="reset"
                        value="reset"></a>
            </div>
        </form>
    </div>
</div>
