<header>
    <nav class="container navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">MyShopLogo</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li onmouseover="MiniCartF()" onmouseout="MiniCartFclose()" class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/{{UserId}}/cart">Корзина</a>
                    </li>

                    <!-- <div class="nav-item col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2"
                        onmouseover="MiniCartF()" onmouseout="MiniCartFclose()" id="CartIco">
                    </div> -->
                    <!-- <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2 col-xxl-2" onmouseover="MiniCartF()"
                        onmouseout="MiniCartFclose()" id="CartIco">
                        <li class="nav-item">
                            <a class="nav-link active position-relative" aria-current="page" href="/{{UserId}}/cart">
                                Корзина
                            </a>

                        </li>
                    </div> -->
                    <li class="nav-item">
                        <a class="nav-link" href="/{{UserId}}/favorites">Избранное</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Каталог
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {% for items, item in TovarTypeList%}
                            <li>
                                <a class="dropdown-item"
                                    href="/catalog/{{item.catalogId}}/{{item.MainPage}}">{{item.property}}</a>
                            </li>
                            {% endfor%}
                        </ul>
                    </li>
                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Поиск</button>
                </form>


            </div>

        </div>
        {% include "templates/MiniCart.html" %}
    </nav>

</header>