<header>
    <div class="row headr">
        <div class="col-2">
            <div class="logo">
                <a type="button" class="navbar-brand" href="/">
                    <img src="https://getbootstrap.com/docs/5.1/assets/brand/bootstrap-logo.svg" alt="" width="30"
                        height="24" class="d-inline-block align-text-top">Bootstrap</a>
            </div>
        </div>
        <div class="col-2">
            <div class="dropdown">
                <a class="btn btn-secondary dropdown-toggle" href="/catalog" role="button" id="dropdownMenuLink"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Каталог
                </a>

                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <li><a class="dropdown-item" href="/CPU">Процессоры</a></li>
                    <li><a class="dropdown-item" href="/motherboards">Материнские платы</a></li>
                    <li><a class="dropdown-item" href="/cases">Корпуса</a></li>
                </ul>
            </div>
        </div>
        <div class="col-5">
            <form action="" method="get" class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="search">
                <button class="btn btn-outline-success" type="submit">Поиск</button>
            </form>
        </div>
        <div class="col-1">
            <li class="nav-item">
                <a class="nav-link active position-relative" aria-current="page" href="/cart">
                    <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-cart" fill="currentColor"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm7 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z" />
                    </svg>
                    <span class="position-absolute top-10 start-1 translate-middle badge rounded-pill bg-danger">
                        {{cartPcsCount}}
                    </span>
                </a>
            </li>
        </div>
        <div class="col-1">
            <a class="nav-link" href="/favorites"><svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-heart"
                    fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M8 2.748l-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z" />
                </svg></a>
            </li>
        </div>
        <div class="col-1">
            <li class="nav-item">
                <a class="nav-link" href="/profile"><svg width="2em" height="2em" viewBox="0 0 16 16"
                        class="bi bi-person" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M13 14s1 0 1-1-1-4-6-4-6 3-6 4 1 1 1 1h10zm-9.995-.944v-.002.002zM3.022 13h9.956a.274.274 0 0 0 .014-.002l.008-.002c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664a1.05 1.05 0 0 0 .022.004zm9.974.056v-.002.002zM8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                    </svg></a>
            </li>
        </div>
    </div>
</header>