<div onmouseover="MiniCartF()" onmouseout="MiniCartFclose()" id="MiniCart" class="container" style=" visibility: hidden;border: 1px solid; border-radius: 10px; z-index: 11111111111; width: 450px; height:0px; max-height: 600px; overflow: scroll; margin-right: 10.5rem;
    margin-top: -50px;">
    <h5 style="text-align: left;">В корзине: x товаров <a onclick="CartClean()" id="cleanAllCart" href="#">очистить
            список</a></h5>
    <hr>
    {% for tovar, item in TovarList %}
    <div class="card mb-3" style="max-width: 500px;  max-height:100px; background-color:rgb(114, 114, 114);">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="{{item.cardImage}}" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-4">
                <div class="card-body">
                    <h6 class="card-title">{{item.TovarName}}</h6>
                </div>
            </div>
            <div class="col-md-4">
                <h6 class="card-title" style="text-align: right;">{{item.TovarPrice}} {{item.currency}} <a
                        role="button"></a> <a onclick="delFromMiniBin()"><svg width="1em" height="1em"
                            viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                            <path fill-rule="evenodd"
                                d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                        </svg></a></h6>

            </div>
        </div>
    </div>
    {% endfor %}
    <hr>
    <h5 style="text-align: left;">Итого: 999 рублей <a aria-current="page" href="/{{UserId}}/cart">В корзину</a></h5>
</div>
