<div class="col-3 col-xs-4">
    <div class="card">
        <img src="https://via.placeholder.com/1920x1080/a" class="card-img-top" alt="image">
        <div class="card-body">
            <h5 class="card-title">{{TovarName}}</h5> 
            <h6 class="card-title">{{TovarPrice}}</h6>
            <p class="card-text">{{CardText}}</p>
            <!-- <input type="button" class="btn btn-primary" value="{{btnText}}" onclick="GoPage()" id="GoPageBTN">
            <button id="addToCartid" class="btn btn-primary">{{btnText}}</button> -->
            <a class="btn btn-primary" href="/{{page}}/{{TovarName}}" role="button">{{btnText}}</a>

        </div>
    </div>
</div>